.Weather {
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid rgb(211, 208, 208);
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px;
  color: rgb(156, 156, 156);
}

.Weather h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 60px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  list-style: none;
}

.weatherDetails {
  border-bottom-color: rgb(172, 172, 172);
  border-style: solid;
  border-bottom-width: 0.5px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding: 17px;
  list-style: none;
  margin-bottom: -7px;
}

h3 {
  font-size: 20px;
  border-bottom-color: rgb(87, 87, 87);
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding: 4px;
}

.temperature {
  font-weight: 400;
  font-size: 93px;
  line-height: 64px;
  position: relative;
  top: 40px;
}

.unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -15px;
  margin-left: 5px;
}

.Weather img {
  height: 111px;
  margin-right: 10px;
  margin-top: 20px;
  display: inline-block;
}

.description {
  float: left;
  line-height: 10px;
}

.descriptionDetail {
  float: right;
  overflow: auto;
}
